<h2>New book</h2>
<%= form_for(@book, url: "/books/index") do |f| %>
	<p>Title</p>
	 <%= f.text_field :title %>
	 <p>Body</p>
	 <%= f.text_area :body %>
	 <div class= "actions"></div>
	 <%= f.submit "Create Book" %>
	 <% end %>
